body {
    margin: 0;
    text-align: center;
    font-family: 'happy-monkey' , italic , bold;
    background: whitesmoke;
}

a {
    color: #46587C;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    background-image: url("LA-noon.webp");
    background-size: auto;
    height: 343;
    padding: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#title {
    color: white;
    background: #1d3557;
    border-radius: 10px;
    padding: 10px 50px;
}

#description {
    color: white;
    background: #45789d;
    border-radius: 10px;
    padding: 10px 50px;
    width: 412px;
}

#header2 {
    margin: 0;
    padding-top: 50px;
    color: #826E8Dff;
    text-shadow: 20px 20px 40px;
     
}

#activities {
    background: #C98393;


}

#activities-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    color: #46587C;
    text-shadow: 70px 30px -50px;
    
}

.activity {
    width: 200px;
}


.activity-img {
    width: 150px;
    height: 150px;
    border-radius: 50px;
}


.guide-card {
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin: 70px auto;
    background: #323f65;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 7px solid black;
}

.guide-img {
    width: 150px;
    height: 200px;
    margin: 25px 20px 25px 20px;
    border-radius: 20px;
}

